[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions = v3_req
prompt = no
[ req_distinguished_name ]
countryName                 = US
stateOrProvinceName         = Minnesota
localityName               = Minneapolis
organizationName           = Redis
commonName                 = redis
[ req_ext ]
subjectAltName = @alt_names
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1   = redis
DNS.2   = redis-sentinel
IP.1    = 192.168.96.3
IP.2    = 192.168.96.4
IP.3    = 192.168.96.5
IP.4    = 192.168.96.6
